@import "var.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik Bubbles', cursive;
}
/* html{
    scroll-behavior: smooth;
} */

body{
    background: var(--primaria);
}
body::-webkit-scrollbar {
    width: 7px;              
}
  
body::-webkit-scrollbar-track {
    background: var(--primaria);      
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secundaria);
    border-radius: 20px;       
}

.preLoad{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    background: var(--primaria);
    background-image: url("https://i.gifer.com/XVo6.gif");
    background-position: center;
    background-size: contain;
    animation: load 2s infinite linear;
}
.telaLoad{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}

.container{
    display: none;
}









nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    position: absolute;
    margin-top: -80px;
}

.navfixed{
    z-index: 11111;
    position: fixed;
    background-color: #ffffffd0;
    transition: 0.5s linear;
}
.logo{
    display: flex;
    font-size: 2em;
    font-weight: 800;
    color: var(--secundaria);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 2.5rem;
}

.navItems li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--texto);
    letter-spacing: 3px;
    text-transform: capitalize;

}

.navItems li:hover a, .links a:hover{
    color: var(--secundaria);
    transition: all 0.7s;
}

.links a{
    font-size: 2em;
    color: var(--texto);
    margin: 25px 30px;
}

#home{
    margin-top: 80px;
    display: flex;
    width: 95%;
    height: 42rem;
    justify-content: center;
    align-items: center;
}
.apresentacao{
    margin-top: 10rem;
}
.cols{
    width: 50%;
    margin-bottom: -18rem;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--texto);
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 20px;
    bottom: 10px;
    background-color: var(--secundaria);
}

.cols0 h1 {
    display: block;
    font-size: 6em;
    width: max-content;
    font-weight: 900;
    color: var(--texto);
}
.multiText{
    text-transform: capitalize;
    color: var(--secundaria);
}
.cols0 p{
   width: 90%;
   display: block;
   font-size: 1.1em; 
   color: var(--texto);
}


.imgbox{
    position: relative;
    left: 40rem;
    }
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(90% - -64px);
    top: -100px;
    right: 0;
    animation: User 4s linear infinite;
}


@keyframes User{
    50%{
        right: 20px;
        top: -90px;
    }
}

#splash{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    animation: Splash 5s linear infinite;

}

@keyframes Splash{
    50%{
        top: -90px;
        right: -20px;
    }
}



/* #star {
    margin: 100px;
    position: absolute;
    z-index: 1000000;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #000;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#star:before {
    border-bottom: 80px solid #000;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#star:after {
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #000;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
} */




.seta{
    display: flex;
    position: absolute;
    bottom: 0rem;
}
.seta a img{
    width: 15%;
    z-index: 1111111;
}
 
section{
    width: 100%;
    height: 35rem;
}

#sobremim{
    position: relative;
    z-index: 1000;
    background-color: var(--secundaria);
    color: var(--texto2);
    display: flex;
    align-items: center;
}

.text2 h1{
    display: flex;
    justify-content: center;
    font-size: 6.5em;
    margin-top: -6rem;
    margin-bottom: 3rem;
}
.text2 h1::after{
    position: absolute;
    display: flex;
    align-items: center;
    content: '';
    height: 4px;
    width: 25rem;
    border-radius: 5px;
    top: 12rem;
    background-color: var(--texto2);
}

.text2 span{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}
.text2 .mim{
    display: flex;
    justify-content: center;
    text-align: center;

}
.text2 p{
    width: 52%;
    margin-top: 2rem;
    font-size: 1.5em;
}




#projetos{
    background-color: var(--primaria);
}
#projetos ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}
#projetos .text3 {
    width: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 4em;
    margin-top: 12rem;
    color: var(--texto)
}
.iconhab{
    position: absolute;
    width: 20rem;
    right: 10%;
    padding: 1rem;
}
.iconhab ul li{
    margin: 0.8rem;
    list-style: none;
    font-size: 7em;
    color: var(--secundaria);
}
.iconhab ul li:hover{
    color: var(--texto);
    font-size: 9em;
    transition: 0.3s  ease-out;
}
#contato{
    height: 35rem;
    background-color: var(--secundaria);
}
#footer{
    width: 100%;
    height: 5rem;
    background-color: var(--primaria);
}