@import "var.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik Bubbles', cursive;
}
html{
    scroll-behavior: smooth;
}

body{
    background: var(--primaria);
}
body::-webkit-scrollbar {
    width: 7px;              
}
  
body::-webkit-scrollbar-track {
    background: var(--primaria);      
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secundaria);
    border-radius: 20px;       
}

.preLoad{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    background: var(--primaria);
    background-image: url("https://i.gifer.com/XVo6.gif");
    background-position: center;
    background-size: contain;
    animation: load 2s infinite linear;
}
.telaLoad{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}
.block{
    display: block;
}

.container{
    display: none;
}
li {
    list-style-type: none;
  }








nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    position: absolute;
    margin-top: -80px;
}

.navfixed{
    z-index: 11111;
    position: fixed;
    background-color: #ffffffd0;
    transition: 0.5s linear;
}
.logo{
    display: flex;
    font-size: 2em;
    font-weight: 800;
    color: var(--secundaria);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 1rem;
}

.navItems li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--texto);
    letter-spacing: 3px;
    text-transform: capitalize;

}

.navItems li:hover a, .links a:hover{
    color: var(--secundaria);
    transition: all 0.7s;
}

.links a{
    font-size: 2em;
    color: var(--texto);
    margin: 25px 30px;
}

#home{
    margin-top: 80px;
    display: flex;
    width: 95%;
    height: 42rem;
    justify-content: center;
    align-items: center;
}
.apresentacao{
    margin-top: 10rem;
}
.cols{
    width: 50%;
    margin-bottom: 5rem;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--texto);
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 20px;
    bottom: 10px;
    background-color: var(--secundaria);
}

.cols0 h1 {
    display: block;
    font-size: 6em;
    width: max-content;
    font-weight: 900;
    color: var(--texto);
}
.multiText{
    text-transform: capitalize;
    color: var(--secundaria);
}
.cols0 p{
   width: 90%;
   display: block;
   font-size: 1.1em; 
   color: var(--texto);
}


.imgbox{
    position: absolute;
    right: 6rem;
    z-index: -1;

    }
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(90% - -64px);
    bottom: 31rem;
    right: 0;
    animation: User 4s linear infinite;
}


@keyframes User{
    50%{
        right: 20px;
        bottom: 29rem;
    }
}

#splash{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    bottom: 30rem;
    animation: Splash 5s linear infinite;

}

@keyframes Splash{
    50%{
        bottom: 29rem;
        right: -20px;
    }
}





.seta{
    display: flex;
    position: absolute;
    bottom: 0rem;
}
.seta a img{
    width: 15%;
    z-index: 1111111;
}
 
section{
    width: 100%;
    height: 35rem;
}

#sobremim{
    position: relative;
    z-index: 1000;
    background-color: var(--secundaria);
    color: var(--texto2);
    display: flex;
    align-items: center;
}

.text2 h1{
    display: flex;
    justify-content: center;
    font-size: 6.5em;
    margin-top: -6rem;
    margin-bottom: 3rem;
}
.text2 h1::after{
    position: absolute;
    display: flex;
    align-items: center;
    content: '';
    height: 4px;
    width: 25rem;
    border-radius: 5px;
    top: 12rem;
    background-color: var(--texto2);
}

.text2 span{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}
.text2 .mim{
    display: flex;
    justify-content: center;
    text-align: center;

}
.text2 p{
    width: 52%;
    margin-top: 2rem;
    font-size: 1.5em;
}




#habilidades{
    background-color: var(--primaria);
    height: 47rem;
}
#habilidades div{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#habilidades .text3 {
    width: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 4em;
    margin-top: calc((42rem - 4em) /2);
    color: var(--texto)
}

#habilidades .text3::after{
    display: flex;
    position: absolute;
    align-items: center;
    content: '';
    height: 4px;
    width: 25rem;
    border-radius: 5px;
    background-color: var(--texto);
    top: 8rem;
    
}

.iconhab{
    position: absolute;
    z-index: 1000;
    width: 37rem;
    right: 5%;
}

.iconhab div{    
    position: absolute;
    margin: 0.8rem;
    font-size: 7em;
    color: var(--texto);
}
.hIcons1{
    top: 3rem;
    right: 0rem;
}
.hIcons2{
    top: 3rem;
    right: 15rem;
}
.hIcons3{
    top: 3rem;
    right: 30rem;
}
.hIcons4{
    top: 15rem;
}
.hIcons5{
    top: 30rem;
}

.iconhab div:hover i{
    color: var(--secundaria);
    font-size: 1.2em;
    transition: 0.3s  linear;
    margin-right: -1rem;
    filter:drop-shadow(10px 10px 1px #000000b6);
    visibility: visible;
}
.iconhab div:hover .modalIcons{
    visibility: visible;
}

.modalIcons{
    width: 10rem;
    height: 3rem;
    background-color: #e6e6e6b5;
    color: var(--secundaria);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000000a9;
    visibility: hidden;
    pointer-events: none !important;
    top: -2rem;
    position: absolute;
}

.bolhas {
    position: absolute;
    display: flex;
    z-index: 1;
    overflow: hidden;
    height: 43rem;
    width: 100%;
}
.bolhas span{
animation: animar calc(90s / var(--i)) linear infinite;
}
.bolhas span i{
    font-size: 3em;
    color: var(--secundaria);
}

@keyframes animar {
0% { transform: translateY(90vh) scale(0);
}
100% { transform: translateY(-10vh) scale(1);
}
}





#projetos{

    height: auto;
    background-color: var(--secundaria);
}
#projetos .text4 h1{
    display: flex;
    justify-content: center;
    font-size: 6.5em;
    margin-top: -6rem;
    margin-bottom: 3rem;
    color: var(--texto2);
}
#projetos .text4 h1::after{
    display: flex;
    position: absolute;
    align-items: center;
    content: '';
    height: 4px;
    width: 20rem;
    border-radius: 5px;
    background-color: var(--texto2);
    top: 131.5rem;
    
}

.boxLoad{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    border:0.5px solid #334;
    color: var(--secundaria);
    background-color: var(--primaria);
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000000a9;
}
.containerw {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
}
.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
}
.card-wrap:hover .card-info {
    transform: translateY(0);
}
.card-wrap:hover .card-info p {
    opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}
.card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}
.card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(255, 255, 255, 1) 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}
.card { 
    position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.box{
    display: none; 
}
.card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}
.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
    opacity: 0;
    text-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
    position: relative;
    z-index: 1;
}
.card-info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card-info h1 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}







#contato{
    height: 31.6rem;
    background-color: var(--primaria);
    color: var(--texto);
}


.boxContato{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    line-height: 40px;
    
}
.boxinfo{
    margin: 4rem;
}
.btn-common{
    width: 10rem;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
} 

.btn-common:hover {
    color: var(--texto2);
    background: var(--secundaria);
    border-color: var(--secundaria);
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
  }
.contact-block{
    color: var(--texto);
    width: 35rem;
    height: 25rem;
    padding: 2rem;
    margin-top: -1rem;

    
}
.boxenviar input::placeholder, .boxenviar textarea::placeholder{
    color: var(--texto);
    font-size: 1.1em;
    
}
.boxenviar input , .boxenviar textarea{
    margin-bottom: 2rem;
    width: 90%;
    justify-content: center;
    display: flex;
    color: var(--texto);
    border-radius: 5px;
    border:0.5px solid #334;
    box-shadow: 5px 5px 5px #000000a9;
}
textarea {
    resize: none;
}
.submit-button {
    display: flex;
    justify-content: center;
}



  .contact-us h3 {
    position: absolute;
    font-size: 4em;
    color: var(--texto);
    margin-bottom: 45px;
    margin-top: -4rem;

  }
  .contact-us h3::after{
    display: flex;
    align-items: center;
    content: '';
    height: 4px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--texto);
    margin-top: 2rem;
    margin-left: 4rem;
    
}
  
  .contact-us p span {
    color: var(--secundaria);
    padding-left: 5px;
  }
  
  
  .form-control{
    width: 100%;
    margin-bottom: 10px;
    padding: 14px;
    border-color: #000000;
    border-radius: 0px;
    color: var(--texto);
    background: transparent;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .form-control:focus {
    box-shadow: none;
    color: var(--texto);
    border-color: var(--secundaria);
    background: transparent;
    outline: none;
  }
  
  .btn.disabled, .btn:disabled {
    opacity: 1;
  }
  
  .text-danger {
    font-size: 14px;
    margin-top: 10px;
  }
  
  
  .btn-border {
    color: var(--secundaria);
    background-color: transparent;
    border: 8px solid var(--secundaria);
    border-radius: 4px;
  }
  .btn-border:hover {
    border: 2px solid var(--secundaria);
    color: var(--secundaria);
    background-color: var(--secundaria);
  }
  

  
  
button:focus {
    outline: none !important;
  }
  



  .social-icons {
    margin-top: 40px;
  }
  
  .social-icons ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }
  
  .social-icons ul li {
    display: inline;
  }
  
  .social-icons ul li a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
    line-height: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #ddd;
    font-size: 16px;
  }
  
  .social-icons ul li a:hover {
    color: #fff;
  }
  
  .facebook a {
    color: #4867AA;
  }
  
  .facebook a:hover {
    background: #4867AA;
  }
  .instagram a{
    color:  #d6249f;
  }
  .instagram a:hover {
    background:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
  
  .github a {
    color: #9000ff;
  }
  .github a:hover {
    background: #9000ff;
  }
  
  .whatsapp a {
    color: #10e91f;
  }
  
  .whatsapp a:hover {
    background: #10e91f;
  }
  
  
  .linkedin a {
    color: #007BB6;
  }
  
  .linkedin a:hover {
    background: #007BB6;
  }
  .icone-social{
  margin-top: 0.5rem !important;
  }

footer {
    width: 100%;
    height: 5rem;
    background-color: var(--secundaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--texto2);
  }
  
.footer-links {
    line-height: 48px;
  }
  
  .footer-links li {
    float: left;
  }
  
  .footer-links li a {
    color: var(--primaria);
    margin-right: 15px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    color:var(--texto2);
  }
  
  .copyright {
    margin-top: 10px;
    float: right;
  }
  
  .copyright p {
    color: var(--primaria);
  }
  
  .copyright p a {
    color: var(--primaria);
  }
  
  .copyright p a:hover {
    color: var(--secundaria);
  }
  
  